*,
*::before,
*::after {
    box-sizing: border-box;
}

@font-face {
    font-family: msBold;
    src: url(assets/msbold.ttf);
}

@font-face {
    font-family: ms;
    src: url(assets/ms.ttf);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #008080;
}

#mainCanvas {
    cursor: pointer;
    visibility: visible;
    position: absolute;
    top: 20%;
    right: 20%;
}

.invisible {
    visibility: hidden;
}

.container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 10px;
    height: 250px;
    left: 0;
    top: 0;
}

.assistance {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
    width: 200px;
    bottom: 30px;
    left: 30%;
}

.icon {
    cursor: pointer;
}

.teleporter {
    position: absolute;
    margin: 10px;
    left: 300px;
}

.taskbar {
    position: absolute;
    width: 100vw;
    height: 30px;
    background-color: #c0c0c0;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.taskbar .start {
    cursor: pointer;
    width: 100px;
    height: 80%;
    background-color: #c0c0c0;
    margin-left: 5px;
    box-shadow: inset -2px -2px #000, inset 1px 1px #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 5px;
}

.taskbar .start > img {
    width: 25px;
}

.taskbar .start > h1 {
    font-family: msBold;
    font-size: 12pt;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

.taskbar .start.minesweeper-icon {
    width: 50px;
}

/* Help */

.help-page {
    visibility: hidden;
    position: absolute;
    z-index: 200;
    background-color: #c0c0c0;
    width: 250px;
    font-family: "ms";
    bottom: 70px;
    left: -100px;
    box-shadow: inset -2px -2px #7c7c7c, inset 2px 2px #fff;
}

.help-page::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid #c0c0c0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    z-index: 600;
    bottom: -18px;
    left: calc(50% - 20px);
}

.help-page.active {
    visibility: visible;
}

.help-page > * {
    margin-left: 10px;
    margin-right: 10px;
}

.help-page h1 {
    font-size: 12pt;
}

.help-page p {
    font-size: 10pt;
}

.popup {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5000;
    width: 400px;
}

.popup.active {
    visibility: visible;
}
